body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #cccccc;
    margin: 10px 0 10px 0;
}

.footer {
    font-size: 8pt;
    text-align: center;
}

/*
.footer a {
    color: #eeaaaa;
}
*/

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
    margin-top: 10px;
    margin-bottom: 10px;
}
.well h2 {
    color: #ee4444;
    font-size: 1.1em;
}
.well h3 {
    color: #ee4444;
    font-size: 1.0em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}