---
layout: default
---
{% comment %}
Do not add FAQs directly here! Add to one of the section files under _faqs directory,
or create a new section.
{% endcomment %}
<div class="well">
    <h1>Frequently Asked Questions</h1>
    <ol>
        {% for faq in site.faqs %}
            <li><a href="#{{ faq.name }}">{{ faq.name }}</a></li>
        {% endfor %}
    </ol>
</div>

{% for faq in site.faqs %}
    <div class="well">
        <a id="{{ faq.name }}"></a>
        <h1>{{ forloop.index }}. {{ faq.name }}</h1>
        {{ faq.content }}
    </div>
{% endfor %}