<div class="sidebar">
    <a href="{{ site.baseurl }}/"><img src="{{ site.logo }}" alt="{{ site.name }}"></a>
</div>
<div class="sidebar well">
    {{ site.description }}
</div>

<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        {% for post in site.posts limit:5 %}
            <li>
                {% if post.external-url %}
                    <a href="{{ post.external-url }}" target="_blank">{{ post.title }} <span class="glyphicon glyphicon-new-window"></span></a>
                {% else %}
                    <a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar well">
{% include links-list.html %}
</div>
