<div class="col s12 m4 l3 hide-on-small-only">
	<div class="row newsitem-header-row">
		<div class="col push-m3">
			<div class="newsitem-date-card center-align">
				<div class="newsitem-date-card-header">
					<p class="newsitem-day-of-week">{{ page.published_at | date: "%A" }}</p>
				</div>
			  <div>
				<p class="newsitem-month">{{ page.published_at | date: "%b" }}</p> 
				<p class="newsitem-day-number">{{ page.published_at | date: "%d" }}</p> 
				<p class="newsitem-year">{{ page.published_at | date: "%Y" }}</p> 
			  </div>
			</div>
		</div>
	</div>
</div>
<div class="col s12 m7 l8 light newsitem-content">
	<h6 class="newsitem-header">{{page.title}}</h6>
	<p class="newsitem-date hide-on-med-and-up">{{ page.published_at | date: "%B %d, %Y" }}<p>
	{{content}}
</div>
<div class="col s12">
	<div class="row newsitem-divider-row">
		<div class="col s10 push-s1 m8 push-m2">
			<div class="divider"></div>
		</div>
	</div>
</div>
